@model IEnumerable<App.DAL.Models.Course>;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h1>Course List </h1>
<button class="btn btn-primary" style="margin-left:80%" onclick="window.location.href= '@Url.Action("Create","CourseView")'"> Create new </button>
<div>
    <table class="table">
        <thead>
            <tr>

                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
            </tr>
        </thead>
        <tbody>
            @{

                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Course_ID</td>
                        <td >@item.Course_Name</td>
                        <td>@item.Course_Description</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.Course_ID }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.Course_ID},new { onclick = "return confirm('Are you sure?');" }) |
                            @Html.ActionLink("Groups", "CourseDetails", "GroupView", new { idFindCourse = item.Course_ID })
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
