@model MySite.ViewModels.AllGroupsInfo;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Group data</h1>
<button class="btn btn-primary" style="margin-left:80%" onclick="window.location.href= '@Url.Action("Create","GroupView")'"> Create new </button>
<div>
    <table class="table">
        <thead>
            <tr>
                <td class="col">Id</td>
                <td class="col">Name</td>
                <td class="col">course</td>
                <td class="col">Teacher</td>
            </tr>
        </thead>
        <tbody>
            @{
                foreach (var item in Model.Groups)
                {
                    <tr>
                        <td>@item.Group_Id</td>
                        <td>@item.Group_Name</td>
                        <td>@Model.Courses.FirstOrDefault(x => x.Course_ID == item.CourseId).Course_Name</td>
                        <td>@Model.Teachers.FirstOrDefault(x => x.Teacher_Id == item.TeacherId).Teacher_Surname</td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.CourseId }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.CourseId }, new { onclick = "return confirm('Are you sure?');" }) |
                            @Html.ActionLink("Groups", "CourseDetails", "GroupView", new { id = item.CourseId })
                        </td>
                    </tr>
                }
            }
        </tbody>

    </table>
</div>
