@model  App.PL.Models.GroupViewModel
@{
    
}

@using (Html.BeginForm("ResultEdition", "GroupView", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Group_Id)
        @Html.TextBoxFor(model => model.Group_Id, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.Group_Id, "", new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Group_Name)
        @Html.TextBoxFor(model => model.Group_Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Group_Name,"", new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.CourseId ,"Select Course")
        @Html.DropDownListFor(Model => Model.CourseId, Model.courseSelectList, "----- Select Course -----", new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.CourseId,"", new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.TeacherId, "Select Teacher ")
        @Html.DropDownListFor(Model => Model.TeacherId, Model.teacherSelectList, "----- Select Teacher -----", new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.TeacherId, "", new { @class = "text-danger" })
    </div>


    @Html.HiddenFor(model => model.courseSelectList)
    @Html.HiddenFor(model => model.teacherSelectList)
    <input type="submit"  class="btn btn-primary" />
}
