@model             StudentsViewModel
@{
    ViewBag.Title = "Edition Students";
}

@using (Html.BeginForm("ResultEdition", "StudentsView", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(model => model.Student_Id)
        @Html.TextBoxFor(model => model.Student_Id, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.Student_Id, "", new { @class = "text-danger" })
    </div>
    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.First_Name)
        @Html.TextBoxFor(model => model.First_Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.First_Name, "", new { @class = "text-danger" })
    </div>

    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.Last_Name)
        @Html.TextBoxFor(model => model.Last_Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Last_Name, "", new { @class = "text-danger" })
    </div>

    <br />
    <div class="form-group">
        @Html.LabelFor(model => model.GroupId, "Select Teacher ")
        @Html.DropDownListFor(Model => Model.GroupId, Model.Groups, "----- Select Teacher -----", new { @class = "form-control" })
        @Html.ValidationMessageFor(Model => Model.GroupId, "", new { @class = "text-danger" })
    </div>


    @Html.HiddenFor(model => model.Groups)
    
    <input type="submit" class="btn btn-primary" />
}
