@model MySite.Models.Teacher
@using (Html.BeginForm("ResultEdition", "TeachersView", FormMethod.Post))
{
    @Html.AntiForgeryToken()


    <div class="form-group">
        @Html.LabelFor(model => model.Teacher_Id)
        @Html.TextBoxFor(model => model.Teacher_Id, new { @class = "form-control", @readonly = "readonly" })
        @Html.ValidationMessageFor(model => model.Teacher_Id)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Teacher_Name)
        @Html.TextBoxFor(model => model.Teacher_Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Teacher_Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Teacher_Surname)
        @Html.TextBoxFor(model => model.Teacher_Surname, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Teacher_Surname)
    </div>

    <input type="submit" class="btn btn-primary" />
}
